.feature-form {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eaeef3;
  padding: 10px 16px;
  box-sizing: border-box;

  & > div {
    padding-bottom: 12px;
  }
  .feature-form-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      width: 42px;
      height: 42px;
    }
  }

  .feature-platform-checkbox > label:last-child {
    margin-right: 0;
  }

  .feature-cmd {
    padding: 10px 12px 15px 12px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 16px;

    .feature-type {
      font-size: 14px;
      padding-bottom: 10px;
    }
    .feature-cmd-remove {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #ccc;
      display: block;
      font-size: 20px;
      cursor: pointer;
    }

    .feature-cmd-match > div {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.feature-form-type-lable {
  display: flex;
  align-items: center;
  & > span {
    padding-left: 8px;
  }
}
